/*
filename: styles.css
author: Alex Petrucci, Carl Petrucci, Kunvuth You, Mohamed Aarriz Mohamed Habeeb
created: 02/04/2025
last modified: 11/04/2025
description: Styles for every page in this project.
*/

/* Define variables here */
:root {
    --light-colour: #f4f4f4;
    --dark-colour: #1d1d1d;
    --mid-colour: #9ed091;
    --accent-colour-1: #daf8d0;
    --accent-colour-2: #3e5040;

    --background-colour: var(--light-colour);
    --hover-colour: var(--mid-colour);
    --hover-text-colour: var(--dark-colour);
    --hover-shadow-colour: var(--accent-colour-2);
    --accent-color: var(--accent-colour-1);
    --text-colour: var(--dark-colour);
    --header-colour: var(--dark-colour);
    --header-text-colour: var(--light-colour);
    --button-colour: var(--accent-colour-2);
    --button-text-colour: var(--light-colour);
    --heading-colour: var(--accent-colour-2);
    --contrast-heading-colour: var(--accent-colour-1);
    --contrast-text-colour: var(--light-colour);
}

/* Changing colour variables if user has their preference set to dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --background-colour: var(--dark-colour);
        --hover-colour: var(--mid-colour);
        --hover-text-colour: var(--dark-colour);
        --hover-shadow-colour: var(--accent-colour-2);
        --accent-color: var(--accent-colour-2);
        --text-colour: var(--light-colour);
        --header-colour: var(--accent-colour-2);
        --header-text-colour: var(--light-colour);
        --button-colour: var(--dark-colour);
        --button-text-colour: var(--light-colour);
        --heading-colour: var(--accent-colour-1);
        --contrast-heading-colour: var(--accent-colour-1);
        --contrast-text-colour: var(--dark-colour);
    }
}

/* Make scrolling smooth when links to elements are clicked */
html {
    scroll-behavior: smooth;
}

/* Main body of the page */
body {
    color: var(--text-colour);
    background-color: var(--background-colour);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
}

/* Styles for logo in the header of the page */
header svg {
    color: var(--contrast-heading-colour);
    width: min(100vw, 20rem);
    padding: 1rem;
    box-sizing: border-box;
    transition-duration: 0.25s;
}

/*sets approriate colours for svg icons of the nav bar*/
nav svg{
    color: var(--button-text-colour);
    height: 1rem;
    width: 1rem;
    transition: 0.25s;
    margin: 0px;
    padding: 0px;
}

/*makes hover colour of svg icons consistent with text of buttons on nav bar*/
nav a:hover svg, nav a svg:hover {
    color: var(--dark-colour);
}

/*keeps the svgs on the same line as text when possiple and wraps to next line when not on nav buttons*/
.nav-button {
    display: flex;
    word-spacing: 0rem;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

/* Styles for logo in header when in is hovered */
header svg:hover {
    color: var(--mid-colour);
}

/* Styles for header of the page */
header {
    background-color: var(--header-colour);
    color: var(--header-text-colour);
}

/* Styles for the footer of the page */
footer {
    background-color: var(--header-colour);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
}

/* Styles for the email link inside the footer of the page */
footer a{
    color: var(--contrast-heading-colour);
}

/* Styles for the regular text inside the footer of the page */
footer p {
    color: var(--header-text-colour);
}

/* Styles for any horizontal lines on any page */
hr {
    border-color: var(--accent-color);
}

/* Styles for list of links inside the nav of the header */
header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Styles for the links disguised as buttons */
header ul li a, main a {
    padding: 0rem;
    color: var(--button-text-colour);
    text-decoration: none;
    background-color: var(--button-colour);
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 20vw;
    text-align: center;
    transition-duration: 0.25s;
    display: inline-block;
}

/* Styles for links disguised as buttons, when they are hovered */
header ul li a:hover, main a:hover{
    background-color: var(--hover-colour);
    color: var(--hover-text-colour);
}

/* Styles for list of nav links inside the header of the page */
header ul {
    padding: 0px;
}

/* Specific style for SVG logo with auto generated class name so that the colour can be changed */
.cls-1 {
    fill: currentColor;
}

/* Styles for link of the current page inside the navigation in the header of the page */
.current-page {
    color: var(--dark-colour);
    background-color: var(--contrast-heading-colour);
}

/*Styling to keep svg for selected page consistent with text*/
.current-page svg{
    color: var(--dark-colour);
}


/* Styles for the main content of the page */
main {
    padding: 2rem;
}

/* Styles for any aside elements on any page */
aside {
    background-color: var(--accent-color);
    color: var(--text-color);
    border-radius: 1rem;
    padding: 1rem;
    width: max(25%, 15rem);
    float: right;
    margin: 1rem;
    border-color: var(--accent-color);
    border-style: solid;
    overflow: hidden;
}

/* Styles for headings on any page */
h1, h2 {
    color: var(--heading-colour);
}

/* Styles for top level headings on any page */
h1 {
    font: 2.5rem Arial, sans-serif;
}

/* Styles for class which is designed to center content inside */
.center-wrapper {
    display: flex;
    justify-content: center;
}

/* Styles for class which is designed to add space between content inside */
.space-between-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/* Styles to change the direction of a flexbox to row-reverse */
.row-reverse {
    flex-direction: row-reverse;
}

/* Styles for container which is meant to hold cards containing content */
.card-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

/* Styles for cards on the job descriptions page which give an overview of the jobs */
.description-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--accent-color);
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: min(40rem, 80vw);
    text-align: center;
    margin: 1rem auto;
    border-color: var(--accent-color);
    border-style: solid;
}

/* Styles for images which go inside description cards */
.description-card img {
    margin: 0px;
    width: inherit;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    border-radius: 0px;
    border-style: none;
}

/* Styles for flexbox items to size based on the available space */
.takeup-available-space {
    flex: 1;
}

/* Styles for the images inside the detailed sections of the job descripions page */
.description-img {
    margin: 1rem auto;
    width: min(80vw, 20rem);
}

/* Styles for important text */
strong {
    color: var(--heading-colour);
}

/* Styles for the detailed description sections found on the job descriptions page */
.long-description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

/* Styles for  detailed sections of the job descriptions page */
.detailed-description {
    flex: 1;
}

/* Styles for specific links to make all the text fit on one line for smaller screens */
aside a, .description-card a, dl a {
    width: auto;
    padding: 1rem;
}

/*Styles for tables to ensure that the borders of table cells is vissible*/
table,td, th{
    border: solid var(--black-colour) 0.1rem;
}

/*Styles to remove double borders from table cells*/
table{
    border-spacing: 0;
}

/*Styles to maintain proper scale of images for group member profiles*/
dd figure img{
    width: 20rem;
    height: 15rem;
}

/* Styles for all images */
img {
    border-radius: 1rem;
    border-color: var(--accent-color);
    border-style: solid;
}

/* styles for the apply now button in the job descriptions page */
.apply-now-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* styles for the svg inside the apply now button in the svg */
.apply-now-button svg {
    width: 1rem;
    height: 1rem;
}

#join_team {
    background-image: url("images/homepage-background.jpg");
}

.join_team_content {
    background-color: #ffffffdd;
    padding: 1rem;
    border-radius: 1rem;
}
/*-----------------------------------APPLY-------------------------------------------------------------------*/

/* Form styling */


/* Headings */
h3 {
    color: var(--heading-colour);
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

/* Label styles */
label{
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

/* Required asterisk */
.required::after {
    content: "*";
    color: red;
    font-size: 1.25rem;
}

/* Input, textarea, and select styling */
input, textarea, select {
    width: 100%;
    padding: 0.75rem;
    border: 0.08rem solid var(--border-color);
    border-radius: 0.375rem;
    font-size: var(--font-size-base);
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
}
/*Box size and color for input type=radio, checkbox*/
.selection-box{
    margin-right: 0.5rem;
    accent-color: var(--selected-color);
}

/* Textarea styling */
textarea {
    resize: vertical;
    min-height: 150px;
}

/* Hover effect for inputs (focus) */
input:focus, textarea:focus, select:focus {
    border-color: var(--selected-color);
    outline: none;
}

fieldset {
    border-radius: 0.75rem;
}

fieldset label {
    color: var(--text-color);
}

/* Legend styling */
legend {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--selected-color);
}

.gender-options {
    border: 1px solid var(--border-color);
    padding: 1.5rem;
    border-radius: 0.375rem;
    margin-top: 1.5rem;
    
}

.radio-label {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
}
.selection-label{
    display: flex;
    justify-content: flex-start;
   
}

.radio-label, .selection-label * {
    width: 5rem;
}


/* Button styles */
.form-buttons {
    padding: 1rem;
    color: var(--button-text-colour);
    text-decoration: none;
    background-color: var(--header-colour);
    border-radius: 1rem;
    width: 15vw;
    text-align: center;
    transition-duration: 0.25s ;
    display: inline-block;
    
}

/* Submit button specific styles */
#submit {
    margin-right: 1rem;
}

/* Button hover effect */
.form-buttons:hover {
    background-color: var(--hover-colour);
    color: var(--hover-text-colour);
    cursor: pointer;
}


/* Design for smaller screens */
@media (max-width: 768px) {
    form {
        width: 90%;
        padding: 0px;
        margin: auto;
    }
    
    input, textarea, select {
        width: 100%;
        padding: 1rem;
    }

    .form-buttons {
        width: 100%;
        padding: 1.2rem;
    }

    #submit, #reset {
        width: 100%;
    }
}

/*---------------------------------------<Home>------------------------------------------<Home>--------------------------------------------*/

/*styling for the maincontent for home page*/

#maincontent{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2.0; /*the space between eack lines*/
    margin:  auto;


}

#maincontent h1{
    font-weight: bold;
}


/*styling for the description for the home page*/
#descriptionn{
    font-size: 20px;
    text-align: justify; 

}

/* styling for the maincontent for home page
#sub_head {
    background-color: var(--dark-colour);
    background-repeat: no-repeat;
    padding: 20px;
    margin-bottom: 30px;
    border-left: 5px solid var(--accent-colour-2);
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
}

#sub_head h2 {
    color: var(--accent-colour-1);
} */

#abt_company h2{
    display: flex;   /*styling of layout for the about company section*/
    justify-content: center;
}

#abt_company img.about-img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 15px;
    border-radius: 8px;

}
/*removed all the list marking for the unordered list in the entire body of the webpage*/
#maincontent ul{
    list-style: none;
}

/*styling of font-size for the maincontent for home page*/
#maincontent p, ul {
    
        margin-bottom: 20px;
        font-size: 1em;
      
}
/*styling for the join our team section in the home page*/
#join_team {
    background-color: var(--light-colour); 
    padding: 20px; /*space between the border and text within the box*/
    border-left: 5px solid var(--accent-colour-1); /*only added border in the left section*/
    border-radius: 6px;
    color: var(--dark-colour);
    
  }
#join_team h2{
    color: var(--accent-colour-2);
}
  
/*styling for the why work with us content in the home page*/
  #closure img.whychoosee {
    
    max-width: 150%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 15px;

}
/*layout styling for the maincontent for home page*/


/* Design for smaller screens */
@media (max-width: 768px) {
    #maincontent {
        width: 80vw;
    }
    
    #closure img.whychoosee{
        width: 100%;
    }
    #closure ul *li{
        width: 100%;
        padding: 20px;
    }

}
/*---------------------------ABOUT--------------------------------*/

/*styling to correctly possition sections within the top of the about page*/
#top-of-about-page{
    display: flex;
    flex-wrap: wrap;
}

/*styles ensure group details are on the right hand side*/
#group-details{
    display: block;
    margin-left: auto;
    float: right;
    max-width: 40rem;
}

/*since student IDs are required to be on the right in this task, I just made all of the descriptions go on the right*/
#details dd{
    text-align: right;
}

/*this makes the group details section display like a seperate block, simmilar to the styling of the other pages*/
#details{
    background-color: var(--accent-color);
    border-radius: 1rem;
    border-color: var(--accent-color);
    border-style: solid;
    padding: 1rem;
    margin-right: 1rem;
    color: var(--text-color);
}

/*this makes the heading of the group details list, and the bold sections within the list stand out by using a different colour*/
#details h3, #details li strong{
    color: var(--text-color);
}

/*this removes the bullet points and indentation from unordered lists*/
#details ul{
    list-style: none;
    margin-left: 0;
    display: contents;
}

/*this ensures that the member profiles stack vertically*/
#member-profiles{
    display: block;
    margin-left: 2rem;
}

@media (max-width: 600px){
    #member-profiles{
        margin-left: -1rem;
    }
}
/*these styles give the group photo a boarder, float it to the right, and help keep the sizing correct*/
#group-photo{
    border-radius: 1rem;
    border-color: var(--accent-color);
    border-style: solid;
    width: 100%;
    float: right;
}

/*these styles float the figure for the group photo to the right and make sure that it is correctly sized with the caption below in the center*/
#group-photo-figure {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

/*these styles keep the tables aligned and sized correctly and give tables the standard background color*/
table{
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--accent-color);
    width: 90vw;
}

/*these styles keep the company details to the left of the page, and leave enough room for the group details on the right*/
#company-details{
    display: flex;
    float: left;
    width: 50%;
}

/*these styles give the important parts of the table such as the caption and items in the left column a distinct color to stand out*/
table caption h3, td strong{
    color: var(--heading-colour);
}

/*this changes the colour of table cells and text within table cells when hovered over, as specified by the project requirements*/
td:hover, td:hover strong{
    background-color: var(--hover-colour);
    color: var(--header-colour);
}

/*this prevents the hr element from being shrunken or displayed weirdly next to floating elements*/
hr {
    clear: both;
}

/*these styles give table cells and their content a smooth transition when being hovered over, and give table cells a rounded border*/
td, td *{
    border-radius: 0.2rem;
    transition: 0.2s;
}

/*this stops the anchors to google maps in the table from being formatted like buttons on the nav bar*/
td a{
    background-color: transparent;
    color: var(--text-color);
}

/*this also stops the anchors to google maps in the table from being formatted like buttons on the nav bar, but now also for when they are hovered over*/
td a:hover{
    background-color: transparent;
    box-shadow: none;
}

/*this helps the figures in the table wrap around when resizing for small screens*/
td a figure{
    display: flex;
    flex-wrap: wrap;
}

/*this keeps the figures in the table from becoming too large*/
td a figure img{
    width: 20vw;
}

/*this keeps the table cells at a consistant width*/
td {
    width: 40vw;
}

/*this aligns the text in the second column of tables on the right hand side*/
.table-column-2{
    display: inline-block;
    width: 100%;
    text-align: right;
}

/*this keeps the maps in the center of table cells*/
.table-image{
    text-align: center;
}

/*keeps description of hometown at the top of the cell*/
.hometown{
    padding: 1rem;
    vertical-align: top;
}