/*
filename: styles.css
author: Alex Petrucci, Carl Petrucci, Kunvuth You, Mohamed Aarriz Mohamed Habeeb
created: 02/04/2025
last modified: 04/04/2025
description: Styles for every page in this project.
*/

/* Define variables here */
:root {
    --background-colour: #F1FFFA;
    --hover-colour: #CCFCCB;
    --accent-color: #96E6B3;
    --selected-colour: #568259;
    --text-colour: #464E47;
}

/* Main body of the page */
body {
    color: var(--text-colour);
    background-color: var(--background-color);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
}

header svg {
    color: var(--accent-color);
    width: 20%;
    height: 20%;
    padding: 2rem;
}

/* Styles for header of the page */
header {
    background-color: var(--text-colour);
    color: var(--background-color);
}

/* Styles for the footer of the page */
footer {
    background-color: var(--text-colour);
    color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

footer a{
    color: var(--accent-color);
}
hr{
 border-color: var(--accent-color);
}

/* Styles for list of links inside the nav of the header */
header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Styles for the links inside the header */
header ul li a{
    padding: 1rem;
    color: var(--background-colour);
    text-decoration: none;
    background-color: var(--selected-colour);
    border-radius: 1rem;
    width: 15vw;
    text-align: center;
    transition-duration: 0.25s;
    display: inline-block;
}

header ul li a:hover{
    background-color: var(--hover-colour);
    color: var(--selected-colour);
    box-shadow: 0.5rem 0.5rem;
}

header ul {
    padding: 0px;
}

.cls-1 {
    fill: currentColor;
}

.current-page {
    color: var(--selected-colour);
    background-color: var(--accent-color);
}